@theme {
  --font-roboto: "Roboto", Arial, Helvetica, sans-serif;

  --color-background-c-01: #f0f0f1;
  --color-background-c-02: #f0f0f1;
  --color-scripts: #000810;
  --color-purple-01: #8C00FF;


  --color-panel-header: #00101f;
  --color-backdrop: rgba(2, 33, 62, 0.3);
  --color-user-panel-bg: rgb(255, 255, 255, 0.4);

  --color-white: #f0f0f1;

  --color-primary-950: #1d1f49;
  --color-primary-900: #2f3478;
  --color-primary-800: #353a9e;
  --color-primary-700: #3e42c4;
  --color-primary-600: #4c53df;
  --color-primary-500: #6979eb;
  --color-primary-400: #869bf3;
  --color-primary-300: #a8bef9;
  --color-primary-200: #c9d9fc;
  --color-primary-100: #e1ebfe;
  --color-primary-50: #eff4fe;

  --color-secondary-950: #2c2912;
  --color-secondary-900: #4f4a26;
  --color-secondary-800: #5b5628;
  --color-secondary-700: #78732f;
  --color-secondary-600: #8c8933;
  --color-secondary-500: #a9a941;
  --color-secondary-400: #bdbe57;
  --color-secondary-300: #ced07d;
  --color-secondary-200: #e0e2ad;
  --color-secondary-100: #eff0d4;
  --color-secondary-50: #f9f9ed;

  --color-tertiary-500: #e0e0e0;

  --color-accent-001: #424141;
  --color-accent-002: #424141;
  --color-accent-003: #9c9c9c;

  --color-error-bg: #FFBABA;
  --color-error-text: #D8000C;
  --color-error-hover: #FFA4A4;

  --color-warn-bg: #FEEFB3;
  --color-warn-text: #9F6000;
  --color-warn-hover: #FED7A0;

  --color-success-bg: #4F8A10;
  --color-success-text: #DFF2BF;
  --color-success-hover: #B4F298;

  --color-info-bg: #D9EDF7;
  --color-info-text: #31708F;
  --color-info-hover: #D5D8F7;

}