header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--bg-color-01);
  z-index: 2020;
  transform: translateX(0);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header ._header_container {
  display: flex;
  justify-content: space-around;
  padding: 0 1.5rem;
  transition: height 0.3s ease;
}

header ._sub_menu_container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 3030;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease;
  background-color: var(--backdrop-color);
  color: white;
  margin: 0;
}

header ._sub_menu_container._expanded {
  grid-template-rows: 1fr;
  padding: 0 !important;
  margin: 0 !important;
}

header ._sub_menu_container ._sub_menu_content {
  display: hidden;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 0.8rem;
}

._sub_menu_item {
  cursor: pointer;
}

._sub_menu_item:hover,
._sub_menu_item._active {
  /* background-color: var(--backdrop-color); */
  /* text-decoration: underline; */
  color: var(--secondary-color-500);
}

._categories_nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-top: 1.7rem;
}

._category_item {
  font-size: .9rem;
  cursor: pointer;
  margin: 0;
  padding: 1rem;
}

._category_item:hover,
._category_item._active {
  /* background-color: var(--primary-color-950); */
  background-color: var(--backdrop-color);
  color: white;
  border-radius: 5px 5px 0 0;
}

._modal_menu_container {
  position: absolute;
  width: 50vw;
  height: 40vh;
  /* background-color: var(--primary-color-900); */
  display: flex;
  top: 110%;
  margin-top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  margin-inline: auto;
  border-radius: 1rem;
  padding: 1.5rem 4rem;
  overflow: auto;
  /* box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-image: linear-gradient(to bottom, var(--backdrop-color) 10%, rgb(255,255,255, .3));
  /* background-color: var(--backdrop-color); */

  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);

}

._modal_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap:3rem;
}

._modal_content * {
  padding: 0.2rem 0;
  margin: 0;
}

._menu-item {
  font-size: 0.9rem;
  text-decoration: none;
}



._menu-item--group {
  cursor: default;
}

._menu-item--link {
  cursor: pointer;
}

._menu-item--link:hover {
  text-decoration: underline;
}

._menu-item--lvl-1 {
  color: var(--secondary-color-500);
}

._menu-item--lvl-2 {
  color: var(--white-color);
  padding-left: 0.5rem;
}

._menu-item--lvl-3 {
  color: var(--accent-003);
  padding-left: 1rem;
}

._user_panel {
  height: 2.5rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--user-panel-bg);
  border: 1px solid var(--accent-001);
  border-radius: 37px;
  gap: 10px;
}

._user_panel div p {
  margin: 0;
  font-size: 0.9rem;
}

._user_panel div :last-child {
  margin-top: -0.5rem;
  font-size: 0.7rem;
  color: var(--accent-002);
}

._user_panel img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}