@import "tailwindcss";
@import "./catchall.css";
@import "./userpanel.css";
@import "./menu.css";

@theme {
  --font-roboto: "Roboto", Arial, Helvetica, sans-serif;

  --color-background-c-01: #f0f0f1;
  --color-background-c-02: #f0f0f1;
  --color-scripts: #000810;


  --color-panel-header: #00101f;
  --color-backdrop: rgba(2, 33, 62, 0.3);
  --color-user-panel-bg: rgb(255, 255, 255, 0.4);

  --color-white: #f0f0f1;

  --color-primary-950: #00101f;
  --color-primary-900: #00437a;
  --color-primary-800: #005495;
  --color-primary-700: #0065b4;
  --color-primary-600: #0080df;
  --color-primary-500: #009aff;
  --color-primary-400: #20a8ff;
  --color-primary-300: #6dc4ff;
  --color-primary-200: #b2deff;
  --color-primary-100: #dceeff;
  --color-primary-50: #eef7ff;

  --color-secondary-950: #401120;
  --color-secondary-900: #742742;
  --color-secondary-800: #862b48;
  --color-secondary-700: #a03050;
  --color-secondary-600: #bf3f60;
  --color-secondary-500: #d1526d;
  --color-secondary-400: #e3899a;
  --color-secondary-300: #edb4bd;
  --color-secondary-200: #f5d6db;
  --color-secondary-100: #fae9eb;
  --color-secondary-50: #fdf3f4;

  --color-tertiary-500: #e0e0e0;

  --color-accent-001: #424141;
  --color-accent-002: #424141;
  --color-accent-003: #9c9c9c;
}

html {
  @apply font-roboto;
  @apply transition-colors duration-500;
  transition-timing-function: ease-in-out;
}

/* html:has(#isDarkMode:checked) {
  --color-bg-01: #000810;
  --color-bg-02: #00101F;
  --color-text: #F0F0F1;
  --color-panel-header: #D1526D;
  --color-user-panel-bg: #02213e;

  --white-color: #F0F0F1;



  --accent-001: #404C57;
  --accent-002: #D1526D;
  --accent-003: #7F878F;

} */

body {
  @apply relative m-0 p-0 bg-[--color-bg-01] text-scripts;
}

header {
  @apply fixed top-0 left-0 box-border flex flex-col w-screen bg-[--color-bg-01] z-50 translate-x-0 shadow-md;
}



._content {
  @apply relative flex flex-col mx-auto overflow-hidden z-1 mt-[8vh] pt-6;
}
