:root {
  --bg-color:#ffffff;
  --text-color:#000000;
}  

/* #isDarkMode:checked ~ body {
  --bg-color:#000000;
  --text-color: #ffffff;
} */
  
  html {
    font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    line-height: 1.5;
    margin: 0;
    padding: 0;

  }

  html:has(#isDarkMode:checked){
    --bg-color:#000000;
    --text-color: #ffffff;
  }

  body {
    position:relative;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
  }